@import 'tailwindcss';

@theme {
  --font-hanken-grotesk: Hanken Grotesk, sans-serif;
  --font-space-grotesk: Space Grotesk, sans-serif;

  --color-primary: #fffafc;
  --color-secondary: #610c1b;
  --color-tertiary: #f63737;
  --color-quaternary: #f5c763;
}

body {
  font-family: var(--font-hanken-grotesk);
  background-color: var(--color-primary);
}

input,
textarea {
  outline: none;
}
